@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --hong-bg: #fff;
  --hong-fg: #000;

  --accent-1: #fafafa;
  --accent-2: #eaeaea;
  --accent-3: #999;
  --accent-4: #888;
  --accent-5: #666;
  --accent-6: #444;
  --accent-7: #333;
  --accent-8: #111;
}

.dark:root {
  --hong-bg: #000;
  --hong-fg: #fff;

  --accent-1: #111;
  --accent-2: #333;
  --accent-3: #444;
  --accent-4: #666;
  --accent-5: #888;
  --accent-6: #999;
  --accent-7: #eaeaea;
  --accent-8: #fafafa;
}

::-webkit-scrollbar {
  width: 7px;
  height: 3px;
}

::-webkit-scrollbar-track {
  border-radius: 8px;
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  border-radius: 8px;
  @apply bg-red-600;
}

::-webkit-scrollbar-thumb:hover {
  @apply bg-red-700;
}

::selection {
  @apply bg-red-600 text-white;
}

* {
  text-rendering: geometricprecision;
  -webkit-tap-highlight-color: transparent;
}
